<body class="d-flex align-items-center min-h-100">
    <!-- ========== HEADER ========== -->
    <header id="header" class="navbar navbar-expand navbar-light navbar-absolute-top">
      <div class="container-fluid">
        <nav class="navbar-nav-wrap">
          <!-- White Logo -->
          <a class="navbar-brand d-none d-lg-flex" href="./index.html" aria-label="Front">
            <img class="navbar-brand-logo" [src] ="ImagePath" alt="Logo">
          </a>
          <!-- End White Logo -->
  
          <!-- Default Logo -->
          <a class="navbar-brand d-flex d-lg-none" href="./index.html" aria-label="Front">
            <img class="navbar-brand-logo" [src] ="ImagePath" alt="Logo">
          </a>
          <!-- End Default Logo -->
  
          <div class="ms-auto">
            <a class="link link-sm link-secondary" href="/login">
              <i class="bi-chevron-left small ms-1"></i> Regresar a saldi.mx
            </a>
          </div>
        </nav>
      </div>
    </header>
    <!-- ========== END HEADER ========== -->
  
    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main" class="flex-grow-1">
      <!-- Form -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-5 col-xl-4 d-none d-lg-flex justify-content-center align-items-center min-vh-lg-100 position-relative bg-dark" style="background-image: url(./assets/svg/components/wave-pattern-light.svg);">
            <div class="flex-grow-1 p-5">
              <!-- Blockquote -->
              <figure class="text-center">

  
                <blockquote class="blockquote blockquote-light">“ Saldi! La Pasarela de tus Productos. ”</blockquote>
  
 
              </figure>
              <!-- End Blockquote -->
  
              <!-- Clients -->

              <!-- End Clients -->
            </div>
          </div>
          <!-- End Col -->
  
          <div class="col-lg-7 col-xl-8 d-flex justify-content-center align-items-center min-vh-lg-100">
            <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
              <!-- Heading -->
              <div class="text-center mb-5 mb-md-7">
                <h1 class="h2">¿Olvidaste tu contraseña?</h1>
                <p>Ingresa tu dirección de correo electrónico para recuperar tu contraseña.</p>
              </div>
              <!-- End Heading -->
  
              <!-- Form -->
              <form class="js-validate needs-validation" novalidate="">
                <!-- Form -->
                <div class="mb-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <label class="form-label" for="signupModalFormResetPasswordEmail" tabindex="0">Email registrado</label>
  
                    <a class="form-label-link" href="/login">
                      <i class="bi-chevron-left small ms-1"></i> Regresar para iniciar sesión
                    </a>
                  </div>
  
                  <input type="email" class="form-control form-control-lg" name="email" id="signupModalFormResetPasswordEmail" tabindex="1" placeholder="Ingresar tu correco electronico" aria-label="Enter your email address" required="">
                  <span class="invalid-feedback">Por favor, introduce una dirección de correo electrónico válida.</span>
                </div>
                <!-- End Form -->
  
                <div class="d-grid mb-3">
                  <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
                </div>
              </form>
              <!-- End Form -->
            </div>
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Form -->
    </main>
    <!-- ========== END MAIN CONTENT ========== -->
  
  </body>
